[submodule "external/simple_tiled_implementation"]
	path = external/simple_tiled_implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation
[submodule "external/Talkies"]
	path = external/Talkies
	url = https://github.com/tanema/talkies
[submodule "external/middleclass"]
	path = external/middleclass
	url = https://github.com/kikito/middleclass.git