[submodule "external/simple_tiled_implementation"]
	path = external/simple_tiled_implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation
[submodule "external/Talkies"]
	path = external/Talkies
	url = https://github.com/tanema/talkies
[submodule "external/middleclass"]
	path = external/middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "external/hump"]
	path = external/hump
	url = https://github.com/HDictus/hump
[submodule "external/bump"]
	path = external/bump
	url = https://github.com/kikito/bump.lua
[submodule "external/tween"]
	path = external/tween
	url = https://github.com/kikito/tween.lua
